.App {
  text-align: center;
}

.aa {
  display: flex;
  align-items: center;
}

.arrows {
  border:none;
  background-color: transparent;
  font-size: 5em;
  color: rgba(2,2,2, 0.9);
}

.coverimg {
	position: absolute;
	z-index: -1;
	height: 100% vh;
	width: 100% vh;
}